[submodule "ROIExtractionPLA"]
	path = ROIExtractionPLA
	url = git@github.com:JTop03/ROIExtractionPLA.git
[submodule "ESPController"]
	path = ESPController
	url = git@github.com:Zasasas20/ESPController.git
[submodule "Color-detection-PLA"]
	path = Color-detection-PLA
	url = git@github.com:rdo164/Color-detection-PLA.git
[submodule "Feature-extraction-C-"]
	path = Feature-extraction-C-
	url = https://github.com/rdo164/Feature-extraction-C-.git
[submodule "PlaHMI"]
	path = PlaHMI
	url = https://github.com/JTop03/PlaHMI.git

