[submodule "ROIExtractionPLA"]
	path = ROIExtractionPLA
	url = git@github.com:JTop03/ROIExtractionPLA.git
[submodule "ESPController"]
	path = ESPController
	url = git@github.com:Zasasas20/ESPController.git
[submodule "Color-detection-PLA"]
	path = Color-detection-PLA
	url = git@github.com:rdo164/Color-detection-PLA.git
